In [2]:
#importing libraries
import pandas as pd

In [18]:
#loading .csv files as dataframes
food_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\food.csv")
food_nutrients_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\food_nutrient.csv")
food_portion_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\food_portion.csv")
measurement_units_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\measure_unit.csv")
nutrient_list_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\nutrient.csv")

C:\Users\Dylan\AppData\Local\Temp\ipykernel_46848\2552723871.py:3: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  food_nutrients_df = pd.read_csv(r"C:\Users\Dylan\Desktop\Food Project\raw food data\food_nutrient.csv")

In [38]:
#exploring dataframes
#food_df
food_nutrients_df
#food_portion_df
#measurement_units_df
#nutrient_list_df

              id   fdc_id  nutrient_id   amount  data_points  derivation_id
0        2201847   319877         1051   56.300          1.0            1.0
1        2201845   319877         1002    1.280          1.0            1.0
2        2201846   319877         1004   19.000          1.0            1.0
3        2201844   319877         1007    1.980          1.0            1.0
4        2201852   319878         1091  188.000          1.0            1.0
...          ...      ...          ...      ...          ...            ...
140819  33296663  2648869         1258   12.180          1.0            1.0
140820  33296664  2648870         1263    0.614          1.0            1.0
140821  33296665  2648871         1264    1.949          1.0            1.0
140822  33296666  2648872         1265    5.375          1.0            1.0
140823  33296667  2648873         1266    2.324          1.0            1.0

[140824 rows x 6 columns]

In [37]:
#dropping unused columns

#food_nutrients_df = food_nutrients_df.drop(columns =['min', 'max','median','footnote','min_year_acquired'])
#food_nutrients_df

#food_portion_df = food_portion_df.drop(columns=['seq_num','footnote', 'min_year_acquired'])
#food_portion_df

nutrient_list_df = nutrient_list_df.drop(columns=['rank','nutrient_nbr'])
nutrient_list_df

       id                                        name unit_name
0    2047            Energy (Atwater General Factors)      KCAL
1    2048           Energy (Atwater Specific Factors)      KCAL
2    1001                                      Solids         G
3    1002                                    Nitrogen         G
4    1003                                     Protein         G
..    ...                                         ...       ...
472  2064                            Oligosaccharides        MG
473  2065  Low Molecular Weight Dietary Fiber (LMWDF)         G
474  2068                                   Vitamin E        MG
475  2067                                   Vitamin A        UG
476  2069                                 Glutathione        MG

[477 rows x 3 columns]

In [42]:
#renaming columns to prepare for merges

nutrient_list_df = nutrient_list_df.rename(columns={'id':'nutrient_id'})

In [44]:
#Joining food_nutrients_df and nutrient_list_df on key column - nutrient_id and id (respectively)

merged_nutrient_df = food_nutrients_df.merge(nutrient_list_df, how='left')
merged_nutrient_df

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,name,unit_name
0,2201847,319877,1051,56.300,1.0,1.0,Water,G
1,2201845,319877,1002,1.280,1.0,1.0,Nitrogen,G
2,2201846,319877,1004,19.000,1.0,1.0,Total lipid (fat),G
3,2201844,319877,1007,1.980,1.0,1.0,Ash,G
4,2201852,319878,1091,188.000,1.0,1.0,"Phosphorus, P",MG
...,...,...,...,...,...,...,...,...
140819,33296663,2648869,1258,12.180,1.0,1.0,"Fatty acids, total saturated",G
140820,33296664,2648870,1263,0.614,1.0,1.0,SFA 12:0,G
140821,33296665,2648871,1264,1.949,1.0,1.0,SFA 14:0,G
140822,33296666,2648872,1265,5.375,1.0,1.0,SFA 16:0,G
140823,33296667,2648873,1266,2.324,1.0,1.0,SFA 18:0,G